[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"
rope = "*"

[packages]
simpy = "*"
pytest = "*"
pandas = "*"
matplotlib = "*"
jupyter = "*"

[requires]
python_version = "3.8"

[scripts]
test = "python --version"